* {
  background-color: #496989;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  background-color: #a8cd9f;
  padding: 15px;
  width: 100%;
  box-shadow: 0px 5px 15px 0 black;
}

nav a {
  text-decoration: none;
  background-color: #a8cd9f;
  color: #496989;
  margin-right: 25px;
}

nav a:hover {
  text-decoration: underline;
}

section h1 {
  margin-top: 65px;
  font-size: 40px;
  color: #e2f4c5;
  background-color: transparent;
  text-align: center;
  position: sticky;
  top: 0;
}

.contact-info figure {
  text-align: center;
}

.contact-info figure img {
  border: 2px solid #a8cd9f;
}

.contact-info figcaption {
  padding-top: 15px;
  color: #a8cd9f;
}
